@font-face {
  font-family: Shabnam;
  src:
    url("/font/Shabnam/Shabnam-FD.ttf") format("truetype"),
    url("/font/Shabnam/Shabnam-FD.woff") format("woff"),
    url("/font/Shabnam/Shabnam-FD.woff2") format("woff2"),
    url("/font/Shabnam/Shabnam-FD.eot") format("embedded-opentype");
  font-weight: 400;
}
@font-face {
  font-family: Shabnam;
  src:
    url("/font/Shabnam/Shabnam-Medium-FD.ttf") format("truetype"),
    url("/font/Shabnam/Shabnam-Medium-FD.woff") format("woff"),
    url("/font/Shabnam/Shabnam-Medium-FD.woff2") format("woff2"),
    url("/font/Shabnam/Shabnam-Medium-FD.eot") format("embedded-opentype");
  font-weight: 500;
}
@font-face {
  font-family: Shabnam;
  src:
    url("/font/Shabnam/Shabnam-Bold-FD.ttf") format("truetype"),
    url("/font/Shabnam/Shabnam-Bold-FD.woff") format("woff"),
    url("/font/Shabnam/Shabnam-Bold-FD.woff2") format("woff2"),
    url("/font/Shabnam/Shabnam-Bold-FD.eot") format("embedded-opentype");
  font-weight: 700;
}
@font-face {
  font-family: Shabnam;
  src:
    url("/font/Shabnam/Shabnam-Light-FD.ttf") format("truetype"),
    url("/font/Shabnam/Shabnam-Light-FD.woff") format("woff"),
    url("/font/Shabnam/Shabnam-Light-FD.woff2") format("woff2"),
    url("/font/Shabnam/Shabnam-Light-FD.eot") format("embedded-opentype");
  font-weight: 300;
}
@font-face {
  font-family: Shabnam;
  src:
    url("/font/Shabnam/Shabnam-Thin-FD.ttf") format("truetype"),
    url("/font/Shabnam/Shabnam-Thin-FD.woff") format("woff"),
    url("/font/Shabnam/Shabnam-Thin-FD.woff2") format("woff2"),
    url("/font/Shabnam/Shabnam-Thin-FD.eot") format("embedded-opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Changa One";
  src: url("/font/Changa_One/ChangaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg0: #fbf7ff;
  --bg1: #ffffff;
  --primary: #7b61ff;
  --shade1: #6147e5;
  --shade2: #482ecc;
  --shade3: #2e14b2;
  --shade4: #000066;
  --shade5: #000033;
  --warning: #a9791c;
  --warning_light1: #f4b740;
  --warning_light2: #fff8e1;
  --neutral_ad: #adadad;
  --neutral_cb: #cbcbcb;
  --neutral_f9: #f9f9f9;
  --neutral_ed: #ededed;
  --neutral_df: #dfdfdf;
  --neutral_20: #202020;
  --neutral_40: #404040;
  --neutral_60: #606060;
  --neutral_86: #868686;
  --neutral_black: #0c0c0c;
  --backSections: #f5f5f5;
  --blackMainP: #fbf7ff;
  --tint0: #f5f2ff;
  --tint1: #e5dfff;
  --tint2: #d7d0ff;
  --tint3: #bdb0ff;
  --tint4: #b0a0ff;
  --tint5: #8871ff;
  --blackLight: #f3f6fb;
  --gold: #fff4d0;
  --silver: #f1eeff;
  --bronze: #ffeceb;
  --error_light2: #fff2f2;
  --success: #00966d;
  --success_light2: #f3fdfa;
  --error: #c30000;
  --backMainP: #fbf7ff;
  --backLight: #f3f6fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lang-fa body {
  font-family: "Shabnam", "Segoe UI";
  direction: rtl;
}
.lang-fa input {
  font-family: "Shabnam", "Segoe UI";
  direction: rtl;
}
.lang-en body {
  font-family: "Changa One", "Segoe UI";
  direction: ltr;
}
.lang-en input {
  font-family: "Changa One", "Segoe UI";
  direction: ltr;
}
input[type="submit"],
button {
  cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  --moz-appearance: textfield;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-layout {
  width: 100%;
  max-width: 420px;
  min-height: 100vh;
  background-color: var(--bg0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  color: var(--neutral_40);
  padding: 0 25px;
}

@media (max-width: 768px) {
  .main-layout {
    max-width: 100%;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .btn-setting-devices {
    max-width: 370px;
    margin: 0 auto;
  }
  .modal-backdrop {
    width: 420px;
    margin: 0 auto;
  }
  .custom-modal {
    max-width: 420px;
    margin: 0 auto;
  }
  .menu {
    width: 420px;
    margin: 0 auto;
  }
}

/* Authentication */
.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
}
.login {
  width: 100%;
}
.login .header {
  font-family: Shabnam;
  font-size: 20px;
  font-weight: 500;
  color: var(--neutral_f2);
  margin-bottom: 24px;
}
.forget-password-link {
  margin-top: 8px;
}
.forget-password-link a {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary_600);
}
.login .title {
  font-size: 16px;
  font-weight: 500;
  color: var(--neutral_f2);
}
.login-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.login-guide p {
  font-size: 12px;
  font-weight: 500;
  color: var(--neutral_f2);
}
.login-guide a {
  font-size: 12px;
  font-weight: 500;
  color: var(--primary_600);
  margin-inline-start: 8px;
  text-decoration: underline;
}
/* End Athentication */

/* Home */
.home-page .accordion {
  margin-top: 16px;
}
/* End Home */

/* Main Layout */
.main-layout .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.main-layout .header .icon {
  cursor: pointer;
}
.main-layout .dual-buttons {
  display: flex;
  justify-content: space-between;
  background-color: var(--tint2);
  border-radius: 8px;
  padding: 4px;
}
.main-layout .dual-buttons > div:nth-child(1) {
  margin-inline-end: 10px;
}
.main-layout .dual-buttons .dual-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  color: var(--tint5);
}
.main-layout .dual-buttons .dual-button.active {
  background-color: var(--shade1);
}
.main-layout .dual-buttons .dual-button.active p {
  color: var(--neutral_ed);
}
.main-layout .dual-buttons .dual-button p {
  margin-inline-start: 4px;
  font-size: 12px;
}
.main-layout .header-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 12px;
  border-bottom: 2px solid var(--neutral_40);
  color: var(--neutral_40);
}
/* End Main Layout

/* Settings */
.settings .title {
  font-size: 16px;
  font-weight: 700;
}
.settings .buttons {
  border-radius: 8px;
  background-color: var(--backSections);
  margin-top: 24px;
}
.settings .button {
  padding: 16px;
  color: var(--neutral_40);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.settings .button-text {
  margin-inline-start: 16px;
}
.settings .button-arrow {
  margin-inline-start: auto;
}
.settings .button-separator {
  height: 1px;
  margin: 0px 16px;
  background-color: var(--neutral_ed);
}
.settings .description {
  font-size: 13px;
  font-weight: 300;
  margin-top: 8px;
  text-align: justify;
}
.economy-form {
  margin-top: 16px;
}
.economy-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}
.economy-field-guide {
  font-size: 11px;
  margin: 8px 0;
  color: var(--warning);
}
.economy-date-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.economy-form label {
  font-size: 12px;
  font-weight: 500;
  margin-inline-end: 8px;
}
.economy-select-time {
  position: relative;
}
.economy-select-time-button {
  border: 1px solid var(--neutral_f9);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 71px;
  height: 38px;
  padding: 11px 8.5px;
}
.economy-select-time-button span {
  background-color: transparent;
  color: var(--primary_100);
  margin-left: 12px;
  font-size: 12px;
  font-weight: 700;
}
.economy-select-time .options-container {
  position: absolute;
  right: 0;
  left: 0;
  background: linear-gradient(166.39deg, #6171c8 0.63%, #1c2247 90.36%);
  border: 1px solid var(--primary_50);
  border-radius: 14px;
}
.economy-select-time .options {
  height: 150px;
  overflow-y: scroll;
  margin: 8px 2px;
  direction: ltr;
}
.economy-select-time .options div {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--neutral_200);
  border-radius: 14px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--neutral_600);
  border-radius: 14px;
  border: 1px solid var(--neutral_200);
}

.settings-submit {
  margin-top: 32px;
}
/* End Settings */

/* Device Page */
.device-page {
  margin-bottom: 106px;
}
.device-page .accordion {
  margin-top: 16px;
}
/* End Device Page */

/* Settings Layout */
.settings-layout .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.settings-layout .header .icon {
  cursor: pointer;
}
.settings-layout .header > * {
  flex: 0.33;
}
.settings-layout .header-title {
  font-size: 20px;
  font-weight: 700;
  flex: 1;
  text-align: center;
}
.settings-layout .title {
  font-size: 16px;
  font-weight: 700;
}
.settings-layout .header-option {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
/* End Settings Layout */

/* My Devices Page */
.my-devices {
  border-radius: 16px;
  background: radial-gradient(
      69.9% 110.16% at 17.58% 4.3%,
      rgba(46, 167, 255, 0.25) 0%,
      rgba(28, 27, 51, 0.1) 78.06%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-width: 1px;
  border-color: #17b9ff1a;
  border-style: solid;
}
.my-device {
  padding: 16px;
  display: flex;
  align-items: center;
}
.my-device-name {
  font-size: 16zpx;
  font-weight: 400;
  color: var(--neutral_f2);
}
.my-device .operations {
  margin-inline-start: auto;
  display: flex;
  align-items: center;
}
.my-devices .separator {
  margin: 0px 16px;
  background-color: var(--secondary_300);
  border-radius: 8px;
}
.my-device-checkbox {
  margin-inline-end: 8px;
}
.select-all-my-devices-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.my-devices-empty {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-devices-empty p {
  margin-bottom: 24px;
}
.my-devices-empty button {
  padding: 8px 32px;
  width: auto;
  border-radius: 8px;
}
.my-devices-features-title {
  margin-bottom: 24px;
}
.my-devices-features-title span {
  padding-bottom: 8px;
  border-bottom: 2px solid #17b9ff1a;
}
.my-devices-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.summer-feature {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.wifi-feature {
  display: flex;
  align-items: center;
}
.refresh-rate-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.refresh-rate-label {
  margin-bottom: 8px;
}
.refresh-rate-select {
  position: relative;
}
.refresh-rate-select-button {
  border: 1px solid var(--neutral_f9);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 40px;
  padding: 11px 8.5px;
  cursor: pointer;
}
.refresh-rate-select-button span {
  background-color: transparent;
  color: var(--primary_100);
  margin-inline-end: 12px;
  font-size: 16px;
  font-weight: 700;
}
.refresh-rate-select .options-container {
  position: absolute;
  right: 0;
  left: 0;
  background: linear-gradient(166.39deg, #6171c8 0.63%, #1c2247 90.36%);
  border: 1px solid var(--primary_50);
  border-radius: 14px;
}
.refresh-rate-select .options {
  height: 150px;
  overflow-y: scroll;
  margin: 8px 2px;
}
.refresh-rate-select .options div {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  cursor: pointer;
}
/* End My Devices Page */

/* My Account Page */
.my-account {
  background-color: #26316d;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #17b9ff1a;
}
/* End My Account Page */

/* GSM CONTROL Page */
.gsm-control {
  position: relative;
  min-height: 100vh;
}
.gsm-control .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  text-wrap: nowrap;
}
.gsm-control .header .icon {
  cursor: pointer;
}
.gsm-control .header > * {
  flex: 0.33;
}
.gsm-control .header-title {
  font-size: 20px;
  flex: 1;
  text-align: center;
  color: var(--neutral_40);
}
.gsm-control table {
  margin: 64px auto;
}
.gsm-control .button {
  position: absolute;
  bottom: 16px;
  right: 0;
  left: 0;
}
/* End GSM CONTROL PAGE */

/* ZONE SETTINGS Page */
.zone-settings {
  position: relative;
  min-height: 100vh;
}
.zone-settings .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  text-wrap: nowrap;
}
.zone-settings .header .icon {
  cursor: pointer;
}
.zone-settings .header > * {
  flex: 0.33;
}
.zone-settings .header-title {
  font-size: 20px;
  flex: 1;
  text-align: center;
  color: var(--neutral_40);
}
.zone-settings .custom-table-header {
  margin-top: 32px;
}
.zone-settings .custom-table {
  margin: 0 auto;
  font-size: 14px;
  margin-top: 0;
}

.zone-settings td,
.zone-settings th {
  padding: 10px 5px;
}
.zone-settings .button {
  margin-top: 16px;
  margin-bottom: 16px;
}
/* End ZONE SETTINGS PAGE */

/* REMOTE SETTINGS Page */
.remote-settings {
  position: relative;
  min-height: 100vh;
}
.remote-settings .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.remote-settings .header .icon {
  cursor: pointer;
}
.remote-settings .header > * {
  flex: 0.33;
}
.remote-settings .header-title {
  font-size: 20px;
  flex: 1;
  text-align: center;
}
.remote-settings table {
  margin: 32px auto;
}
.remote-settings .button {
  position: absolute;
  bottom: 16px;
  right: 0;
  left: 0;
}
/* End REMOTE SETTINGS PAGE */

/* ZONE STATE PAGE */
.zone-state {
  position: relative;
  min-height: 100vh;
}
.zone-state .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.zone-state .header .icon {
  cursor: pointer;
}
.zone-state .header > * {
  flex: 0.33;
}
.zone-state .header-title {
  font-size: 20px;
  flex: 1;
  text-align: center;
  color: var(--neutral_40);
}
.zone-state-table {
  margin: 20px 0;
  width: 100%;
  color: var(--neutral_40);
  background-color: var(--neutral_ed);
  border-radius: 8px;
  padding: 0 12px;
}
.zone-state-table th,
.zone-state-table td {
  text-align: center;
  width: 33.33%;
}
.zone-state-table th {
  padding: 12px 0;
  border-bottom: 2px solid var(--neutral_df);
}
.zone-state-table td {
  padding: 12px 0;
}
/* End ZONE STATE PAGE */

/* Menu */
.menu {
  background-color: #f3f6fb;
  height: 82;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #868686;
  padding-top: 12px;
  padding-bottom: 16px;
  width: 25%;
  cursor: pointer;
}
.menu-item.active {
  color: #7b61ff;
}
.menu-item .label {
  margin-top: 12px;
  font-size: 13px;
}
/* End Menu */

/* Contacts Page */
.contacts {
  margin-bottom: 106px;
}
.contacts .accordion {
  margin-top: 16px;
}
.enter-phones {
  display: flex;
  justify-content: space-between;
}
.contacts .list-item {
  direction: ltr;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.contacts .list-item span {
  margin-inline-start: 16px;
}
.contacts .list-item:nth-child(odd) {
  background-color: var(--tint0);
}
.contacts .list-item:nth-child(even) {
  background-color: var(--tint1);
}
/* End Contacts Page */
